/*pagina um (index)*/

.containerUm {
    display: flex;
    margin: 0 auto;
    height:600px;
    width: 1200px;
    flex-direction: column;
}

.containerDois {
    display: flex;
    flex: 1;
    background-color: darkblue;
    padding: 10px;
}

.containerDois h1{
    color: white;
}

.containerTres {
    display: flex;
    flex: 2;
    flex-direction: row;
}

.containerMenu {
    background-color: cornflowerblue;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.containerItem ul li{
    display: inline;
    list-style-type: none;
    text-decoration: none;
    justify-content: space-around;
    background-color: aliceblue;
    border: 5px solid aliceblue;
    border-radius: 5px;
}

.containerItem a{
    text-decoration: none;
    color: darkblue;
}

.containerAd {
    display: flex;
    flex-direction: column;
    background-color: cornflowerblue;
    flex: 1;
}

.containerCinco {
    display: flex;
    background-color: lightblue;
    flex: 2;
    flex-direction: column;
    padding: 10px;
}

/*pagina dois*/

.contentUm {
    display: flex;
    height: 100px;
    background-color:pink;
    padding:20px;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.contentUm ul li {
    display: inline;
    list-style-type: none;
    text-decoration: none;
    background-color: deeppink;
    border: 7px solid deeppink;
    border-radius: 5px;
    color: lightpink;
}

.contentUm a{
    text-decoration: none;
    color: lightpink;
}

.contentDois {
    height: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.contentTres {
    display: flex;
    height: 400px;
    width: 220px;
    background-color: pink;
    flex-direction: column;
}

.contentTres h1{
    background-color: deeppink;
    border: 20px solid deeppink;
    margin-top: -10px;
    color: lightpink;
}